<!DOCTYPE html> 
<html> 
  <head> <title> Optimal path </title> </head> <center> <h1> Optimal path </h1>   
  <body>
    <canvas id="supermarket_map" width="800" height="700"></canvas> 
    <script>        var products = ['curd','popcorn','fruit/vegetable juice','pork','specialty bar','packaged fruit/vegetables','newspapers','processed cheese','curd cheese','grapes','sugar','pasta','turkey','beef','frozen potato products','bottled water','canned beer','yogurt','soda','chocolate','frankfurter','rolls/buns','butter','pip fruit','sparkling wine','berries','flour','other vegetables','root vegetables','sausage','fish','coffee','pot plants','brown bread','tropical fruit','finished products','ham','whole milk','hamburger meat','citrus fruit','red/blush wine','chicken','misc. beverages','butter milk','pastry','herbs','detergent','frozen meals','beverages']; 
        var canvas = document.getElementById("supermarket_map"); 
        var ctx = canvas.getContext("2d");
        function draw() {         ctx.beginPath(); 
        ctx.arc(50.0, 50.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("0, 0", 30.0, 30.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(50.0, 50.0);        ctx.lineTo(50.0, 150.0);
        ctx.moveTo(50.0, 50.0);        ctx.lineTo(150.0, 50.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(0, 0);        ctx.lineTo(100, 0);
        ctx.moveTo(0, 0);        ctx.lineTo(0, 100);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(150.0, 50.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("1, 0", 130.0, 30.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(150.0, 50.0);        ctx.lineTo(50.0, 50.0);
        ctx.moveTo(150.0, 50.0);        ctx.lineTo(250.0, 50.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(100, 0);        ctx.lineTo(200, 0);
        ctx.moveTo(100, 100);        ctx.lineTo(200, 100);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(250.0, 50.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("2, 0", 229.99999999999997, 30.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(250.0, 50.0);        ctx.lineTo(150.0, 50.0);
        ctx.moveTo(250.0, 50.0);        ctx.lineTo(250.0, 150.0);
        ctx.moveTo(250.0, 50.0);        ctx.lineTo(350.0, 50.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(200, 0);        ctx.lineTo(300, 0);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(350.0, 50.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("3, 0", 330.0, 30.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(350.0, 50.0);        ctx.lineTo(250.0, 50.0);
        ctx.moveTo(350.0, 50.0);        ctx.lineTo(350.0, 150.0);
        ctx.moveTo(350.0, 50.0);        ctx.lineTo(450.0, 50.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(300, 0);        ctx.lineTo(400, 0);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(450.0, 50.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("4, 0", 430.0, 30.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(450.0, 50.0);        ctx.lineTo(350.0, 50.0);
        ctx.moveTo(450.0, 50.0);        ctx.lineTo(450.0, 150.0);
        ctx.moveTo(450.0, 50.0);        ctx.lineTo(550.0, 50.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(400, 0);        ctx.lineTo(500, 0);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(550.0, 50.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("5, 0", 530.0, 30.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(550.0, 50.0);        ctx.lineTo(450.0, 50.0);
        ctx.moveTo(550.0, 50.0);        ctx.lineTo(550.0, 150.0);
        ctx.moveTo(550.0, 50.0);        ctx.lineTo(650.0, 50.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(500, 0);        ctx.lineTo(600, 0);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(650.0, 50.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("6, 0", 630.0, 30.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(650.0, 50.0);        ctx.lineTo(550.0, 50.0);
        ctx.moveTo(650.0, 50.0);        ctx.lineTo(650.0, 150.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(600, 0);        ctx.lineTo(700, 0);
        ctx.moveTo(700, 0);        ctx.lineTo(700, 100);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(50.0, 150.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("0, 1", 30.0, 130.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(50.0, 150.0);        ctx.lineTo(50.0, 50.0);
        ctx.moveTo(50.0, 150.0);        ctx.lineTo(50.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(0, 100);        ctx.lineTo(0, 200);
        ctx.moveTo(100, 100);        ctx.lineTo(100, 200);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(150.0, 150.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("1, 1", 130.0, 130.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(150.0, 150.0);        ctx.lineTo(150.0, 250.0);
        ctx.moveTo(150.0, 150.0);        ctx.lineTo(250.0, 150.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(100, 100);        ctx.lineTo(200, 100);
        ctx.moveTo(100, 100);        ctx.lineTo(100, 200);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(250.0, 150.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("2, 1", 229.99999999999997, 130.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(250.0, 150.0);        ctx.lineTo(250.0, 50.0);
        ctx.moveTo(250.0, 150.0);        ctx.lineTo(150.0, 150.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(200, 200);        ctx.lineTo(300, 200);
        ctx.moveTo(300, 100);        ctx.lineTo(300, 200);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(350.0, 150.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("3, 1", 330.0, 130.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(350.0, 150.0);        ctx.lineTo(350.0, 50.0);
        ctx.moveTo(350.0, 150.0);        ctx.lineTo(350.0, 250.0);
        ctx.moveTo(350.0, 150.0);        ctx.lineTo(450.0, 150.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(300, 100);        ctx.lineTo(300, 200);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(450.0, 150.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("4, 1", 430.0, 130.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(450.0, 150.0);        ctx.lineTo(450.0, 50.0);
        ctx.moveTo(450.0, 150.0);        ctx.lineTo(350.0, 150.0);
        ctx.moveTo(450.0, 150.0);        ctx.lineTo(550.0, 150.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(400, 200);        ctx.lineTo(500, 200);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(550.0, 150.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("5, 1", 530.0, 130.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(550.0, 150.0);        ctx.lineTo(550.0, 50.0);
        ctx.moveTo(550.0, 150.0);        ctx.lineTo(450.0, 150.0);
        ctx.moveTo(550.0, 150.0);        ctx.lineTo(650.0, 150.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(500, 200);        ctx.lineTo(600, 200);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(650.0, 150.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("6, 1", 630.0, 130.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(650.0, 150.0);        ctx.lineTo(650.0, 50.0);
        ctx.moveTo(650.0, 150.0);        ctx.lineTo(550.0, 150.0);
        ctx.moveTo(650.0, 150.0);        ctx.lineTo(650.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(700, 100);        ctx.lineTo(700, 200);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(50.0, 250.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("0, 2", 30.0, 229.99999999999997); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(50.0, 250.0);        ctx.lineTo(50.0, 150.0);
        ctx.moveTo(50.0, 250.0);        ctx.lineTo(-50.0, 250.0);
        ctx.moveTo(50.0, 250.0);        ctx.lineTo(50.0, 350.0);
        ctx.moveTo(50.0, 250.0);        ctx.lineTo(150.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";
        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(150.0, 250.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("1, 2", 130.0, 229.99999999999997); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(150.0, 250.0);        ctx.lineTo(150.0, 150.0);
        ctx.moveTo(150.0, 250.0);        ctx.lineTo(50.0, 250.0);
        ctx.moveTo(150.0, 250.0);        ctx.lineTo(150.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(200, 200);        ctx.lineTo(200, 300);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(250.0, 250.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("2, 2", 229.99999999999997, 229.99999999999997); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(250.0, 250.0);        ctx.lineTo(250.0, 350.0);
        ctx.moveTo(250.0, 250.0);        ctx.lineTo(350.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(200, 200);        ctx.lineTo(300, 200);
        ctx.moveTo(200, 200);        ctx.lineTo(200, 300);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(350.0, 250.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("3, 2", 330.0, 229.99999999999997); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(350.0, 250.0);        ctx.lineTo(350.0, 150.0);
        ctx.moveTo(350.0, 250.0);        ctx.lineTo(250.0, 250.0);
        ctx.moveTo(350.0, 250.0);        ctx.lineTo(450.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(300, 300);        ctx.lineTo(400, 300);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(450.0, 250.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("4, 2", 430.0, 229.99999999999997); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(450.0, 250.0);        ctx.lineTo(350.0, 250.0);
        ctx.moveTo(450.0, 250.0);        ctx.lineTo(450.0, 350.0);
        ctx.moveTo(450.0, 250.0);        ctx.lineTo(550.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(400, 200);        ctx.lineTo(500, 200);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(550.0, 250.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("5, 2", 530.0, 229.99999999999997); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(550.0, 250.0);        ctx.lineTo(450.0, 250.0);
        ctx.moveTo(550.0, 250.0);        ctx.lineTo(550.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(500, 200);        ctx.lineTo(600, 200);
        ctx.moveTo(600, 200);        ctx.lineTo(600, 300);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(650.0, 250.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("6, 2", 630.0, 229.99999999999997); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(650.0, 250.0);        ctx.lineTo(650.0, 150.0);
        ctx.moveTo(650.0, 250.0);        ctx.lineTo(650.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(600, 200);        ctx.lineTo(600, 300);
        ctx.moveTo(700, 200);        ctx.lineTo(700, 300);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(50.0, 350.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("0, 3", 30.0, 330.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(50.0, 350.0);        ctx.lineTo(50.0, 250.0);
        ctx.moveTo(50.0, 350.0);        ctx.lineTo(50.0, 450.0);
        ctx.moveTo(50.0, 350.0);        ctx.lineTo(150.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(0, 300);        ctx.lineTo(0, 400);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(150.0, 350.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("1, 3", 130.0, 330.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(150.0, 350.0);        ctx.lineTo(150.0, 250.0);
        ctx.moveTo(150.0, 350.0);        ctx.lineTo(50.0, 350.0);
        ctx.moveTo(150.0, 350.0);        ctx.lineTo(150.0, 450.0);
        ctx.moveTo(150.0, 350.0);        ctx.lineTo(250.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";
        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(250.0, 350.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("2, 3", 229.99999999999997, 330.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(250.0, 350.0);        ctx.lineTo(250.0, 250.0);
        ctx.moveTo(250.0, 350.0);        ctx.lineTo(150.0, 350.0);
        ctx.moveTo(250.0, 350.0);        ctx.lineTo(250.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(300, 300);        ctx.lineTo(300, 400);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(350.0, 350.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("3, 3", 330.0, 330.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(350.0, 350.0);        ctx.lineTo(350.0, 450.0);
        ctx.moveTo(350.0, 350.0);        ctx.lineTo(450.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(300, 300);        ctx.lineTo(400, 300);
        ctx.moveTo(300, 300);        ctx.lineTo(300, 400);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(450.0, 350.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("4, 3", 430.0, 330.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(450.0, 350.0);        ctx.lineTo(450.0, 250.0);
        ctx.moveTo(450.0, 350.0);        ctx.lineTo(350.0, 350.0);
        ctx.moveTo(450.0, 350.0);        ctx.lineTo(550.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(400, 400);        ctx.lineTo(500, 400);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(550.0, 350.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("5, 3", 530.0, 330.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(550.0, 350.0);        ctx.lineTo(550.0, 250.0);
        ctx.moveTo(550.0, 350.0);        ctx.lineTo(450.0, 350.0);
        ctx.moveTo(550.0, 350.0);        ctx.lineTo(550.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(600, 300);        ctx.lineTo(600, 400);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(650.0, 350.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("6, 3", 630.0, 330.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(650.0, 350.0);        ctx.lineTo(650.0, 250.0);
        ctx.moveTo(650.0, 350.0);        ctx.lineTo(650.0, 450.0);
        ctx.moveTo(650.0, 350.0);        ctx.lineTo(750.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(600, 300);        ctx.lineTo(600, 400);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(50.0, 450.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("0, 4", 30.0, 430.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(50.0, 450.0);        ctx.lineTo(50.0, 350.0);
        ctx.moveTo(50.0, 450.0);        ctx.lineTo(50.0, 550.0);
        ctx.moveTo(50.0, 450.0);        ctx.lineTo(150.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(0, 400);        ctx.lineTo(0, 500);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(150.0, 450.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("1, 4", 130.0, 430.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(150.0, 450.0);        ctx.lineTo(150.0, 350.0);
        ctx.moveTo(150.0, 450.0);        ctx.lineTo(50.0, 450.0);
        ctx.moveTo(150.0, 450.0);        ctx.lineTo(150.0, 550.0);
        ctx.moveTo(150.0, 450.0);        ctx.lineTo(250.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";
        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(250.0, 450.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("2, 4", 229.99999999999997, 430.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(250.0, 450.0);        ctx.lineTo(250.0, 350.0);
        ctx.moveTo(250.0, 450.0);        ctx.lineTo(150.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(200, 500);        ctx.lineTo(300, 500);
        ctx.moveTo(300, 400);        ctx.lineTo(300, 500);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(350.0, 450.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("3, 4", 330.0, 430.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(350.0, 450.0);        ctx.lineTo(350.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(300, 400);        ctx.lineTo(300, 500);
        ctx.moveTo(300, 500);        ctx.lineTo(400, 500);
        ctx.moveTo(400, 400);        ctx.lineTo(400, 500);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(450.0, 450.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("4, 4", 430.0, 430.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(450.0, 450.0);        ctx.lineTo(450.0, 550.0);
        ctx.moveTo(450.0, 450.0);        ctx.lineTo(550.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(400, 400);        ctx.lineTo(500, 400);
        ctx.moveTo(400, 400);        ctx.lineTo(400, 500);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(550.0, 450.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("5, 4", 530.0, 430.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(550.0, 450.0);        ctx.lineTo(550.0, 350.0);
        ctx.moveTo(550.0, 450.0);        ctx.lineTo(450.0, 450.0);
        ctx.moveTo(550.0, 450.0);        ctx.lineTo(550.0, 550.0);
        ctx.moveTo(550.0, 450.0);        ctx.lineTo(650.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";
        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(650.0, 450.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("6, 4", 630.0, 430.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(650.0, 450.0);        ctx.lineTo(650.0, 350.0);
        ctx.moveTo(650.0, 450.0);        ctx.lineTo(550.0, 450.0);
        ctx.moveTo(650.0, 450.0);        ctx.lineTo(650.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(700, 400);        ctx.lineTo(700, 500);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(50.0, 550.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("0, 5", 30.0, 530.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(50.0, 550.0);        ctx.lineTo(50.0, 450.0);
        ctx.moveTo(50.0, 550.0);        ctx.lineTo(50.0, 650.0);
        ctx.moveTo(50.0, 550.0);        ctx.lineTo(150.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(0, 500);        ctx.lineTo(0, 600);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(150.0, 550.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("1, 5", 130.0, 530.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(150.0, 550.0);        ctx.lineTo(150.0, 450.0);
        ctx.moveTo(150.0, 550.0);        ctx.lineTo(50.0, 550.0);
        ctx.moveTo(150.0, 550.0);        ctx.lineTo(250.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(100, 600);        ctx.lineTo(200, 600);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(250.0, 550.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("2, 5", 229.99999999999997, 530.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(250.0, 550.0);        ctx.lineTo(150.0, 550.0);
        ctx.moveTo(250.0, 550.0);        ctx.lineTo(250.0, 650.0);
        ctx.moveTo(250.0, 550.0);        ctx.lineTo(350.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(200, 500);        ctx.lineTo(300, 500);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(350.0, 550.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("3, 5", 330.0, 530.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(350.0, 550.0);        ctx.lineTo(250.0, 550.0);
        ctx.moveTo(350.0, 550.0);        ctx.lineTo(450.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(300, 500);        ctx.lineTo(400, 500);
        ctx.moveTo(300, 600);        ctx.lineTo(400, 600);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(450.0, 550.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("4, 5", 430.0, 530.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(450.0, 550.0);        ctx.lineTo(450.0, 450.0);
        ctx.moveTo(450.0, 550.0);        ctx.lineTo(350.0, 550.0);
        ctx.moveTo(450.0, 550.0);        ctx.lineTo(550.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(400, 600);        ctx.lineTo(500, 600);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(550.0, 550.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("5, 5", 530.0, 530.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(550.0, 550.0);        ctx.lineTo(550.0, 450.0);
        ctx.moveTo(550.0, 550.0);        ctx.lineTo(450.0, 550.0);
        ctx.moveTo(550.0, 550.0);        ctx.lineTo(650.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(500, 600);        ctx.lineTo(600, 600);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(650.0, 550.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("6, 5", 630.0, 530.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(650.0, 550.0);        ctx.lineTo(650.0, 450.0);
        ctx.moveTo(650.0, 550.0);        ctx.lineTo(550.0, 550.0);
        ctx.moveTo(650.0, 550.0);        ctx.lineTo(650.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(700, 500);        ctx.lineTo(700, 600);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(50.0, 650.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("0, 6", 30.0, 630.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(50.0, 650.0);        ctx.lineTo(50.0, 550.0);
        ctx.moveTo(50.0, 650.0);        ctx.lineTo(150.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(0, 600);        ctx.lineTo(0, 700);
        ctx.moveTo(0, 700);        ctx.lineTo(100, 700);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(150.0, 650.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("1, 6", 130.0, 630.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(150.0, 650.0);        ctx.lineTo(50.0, 650.0);
        ctx.moveTo(150.0, 650.0);        ctx.lineTo(250.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(100, 600);        ctx.lineTo(200, 600);
        ctx.moveTo(100, 700);        ctx.lineTo(200, 700);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(250.0, 650.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("2, 6", 229.99999999999997, 630.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(250.0, 650.0);        ctx.lineTo(250.0, 550.0);
        ctx.moveTo(250.0, 650.0);        ctx.lineTo(150.0, 650.0);
        ctx.moveTo(250.0, 650.0);        ctx.lineTo(350.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(200, 700);        ctx.lineTo(300, 700);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(350.0, 650.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("3, 6", 330.0, 630.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(350.0, 650.0);        ctx.lineTo(250.0, 650.0);
        ctx.moveTo(350.0, 650.0);        ctx.lineTo(450.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(300, 600);        ctx.lineTo(400, 600);
        ctx.moveTo(300, 700);        ctx.lineTo(400, 700);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(450.0, 650.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("4, 6", 430.0, 630.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(450.0, 650.0);        ctx.lineTo(350.0, 650.0);
        ctx.moveTo(450.0, 650.0);        ctx.lineTo(550.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(400, 600);        ctx.lineTo(500, 600);
        ctx.moveTo(400, 700);        ctx.lineTo(500, 700);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(550.0, 650.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("5, 6", 530.0, 630.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(550.0, 650.0);        ctx.lineTo(450.0, 650.0);
        ctx.moveTo(550.0, 650.0);        ctx.lineTo(650.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(500, 600);        ctx.lineTo(600, 600);
        ctx.moveTo(500, 700);        ctx.lineTo(600, 700);        ctx.stroke();        ctx.beginPath(); 
        ctx.arc(650.0, 650.0,2,0,2*Math.PI); 
        ctx.fillStyle="black"; 
        ctx.fill();
        ctx.font = "9px Verdana";
        ctx.fillText("6, 6", 630.0, 630.0); 
        ctx.beginPath(); 
        ctx.lineWidth = 1; 
        ctx.strokeStyle="#00cccc";

        ctx.moveTo(650.0, 650.0);        ctx.lineTo(650.0, 550.0);
        ctx.moveTo(650.0, 650.0);        ctx.lineTo(550.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="black";

        ctx.moveTo(600, 700);        ctx.lineTo(700, 700);
        ctx.moveTo(700, 600);        ctx.lineTo(700, 700);        ctx.stroke();
        ctx.beginPath(); 
        ctx.arc(250.0, 650.0, 5, 0, 2*Math.PI); 
        ctx.fillStyle="magenta"; 
        ctx.fill();

        ctx.beginPath(); 
        ctx.arc(250.0, 250.0, 5, 0, 2*Math.PI); 
        ctx.fillStyle="magenta"; 
        ctx.fill();

        ctx.beginPath(); 
        ctx.arc(450.0, 350.0, 5, 0, 2*Math.PI); 
        ctx.fillStyle="magenta"; 
        ctx.fill();

        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(50.0, 250.0);        ctx.lineTo(150.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(150.0, 250.0);        ctx.lineTo(150.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(150.0, 350.0);        ctx.lineTo(250.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(250.0, 350.0);        ctx.lineTo(250.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(250.0, 250.0);        ctx.lineTo(350.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(350.0, 250.0);        ctx.lineTo(450.0, 250.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(450.0, 250.0);        ctx.lineTo(450.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(450.0, 350.0);        ctx.lineTo(550.0, 350.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(550.0, 350.0);        ctx.lineTo(550.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(550.0, 450.0);        ctx.lineTo(450.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(450.0, 450.0);        ctx.lineTo(450.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(450.0, 550.0);        ctx.lineTo(350.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(350.0, 550.0);        ctx.lineTo(250.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(250.0, 550.0);        ctx.lineTo(250.0, 650.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(250.0, 650.0);        ctx.lineTo(250.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(250.0, 550.0);        ctx.lineTo(350.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(350.0, 550.0);        ctx.lineTo(450.0, 550.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(450.0, 550.0);        ctx.lineTo(450.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(450.0, 450.0);        ctx.lineTo(550.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(550.0, 450.0);        ctx.lineTo(650.0, 450.0);        ctx.stroke();
        ctx.beginPath(); 
        ctx.lineWidth = 3; 
        ctx.strokeStyle="red";

        ctx.moveTo(650.0, 450.0);        ctx.lineTo(650.0, 350.0);        ctx.stroke();        }
        draw();        var w =canvas.width;
        var h = canvas.height;
          canvas.addEventListener('mousemove', function(e) { 
        ctx.clearRect(0, 0, w, h); 
        var x = e.pageX - canvas.offsetLeft; 
        var y = e.pageY - canvas.offsetTop;
        draw();
        if(Math.abs(Math.floor(x/100)-x/100)<0.7 && Math.abs(Math.floor(x/100)-x/100)>0.3 && Math.abs(Math.floor(y/100)-y/100)<0.7 && Math.abs(Math.floor(y/100)-y/100)>0.3){
        var str = products[Math.floor(x/100) + 7 * Math.floor(y/100)];        ctx.fillStyle = '#ddd'; 
        ctx.fillRect(x + 10, y + 10, 80, 25); 
        ctx.fillStyle = '#000'; 
        ctx.font = 'bold 20px verdana'; 
        ctx.fillText(str, x + 20, y + 30, 60);}
        }, 0);    </script> 
  </center> </body> 
</html>